body {
  background-color: #f5f5f5;
}

.mb-0 {
  margin-bottom: 0 !important;
}


.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem
}

.opacity-50 {
  opacity: 0.5;
}

.full-screen-width {
  width: 100vw;
  max-width: none !important;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%
}

.menu-container {
  flex-grow: 1;
  overflow: auto;
}

.menu-container .styled-video-wrapper {
  border: 1px solid #a3a3a3;
  border-bottom: none;
}

.menu-container>div:last-child>.styled-video-wrapper {
  border-bottom: 1px solid #a3a3a3;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
}

.styled-video-menu {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.styled-video-menu.active-video-menu {
  background-color: #d3d3d3;
}

/* .styled-video-wrapper {

} */

.zero-height {
  height: 0px !important;
}

.progress-check i {
  color: #9c27b0;
}

.progress {
  margin: 0.25rem 0rem;
  background-color: #e1bee7;
}

.progress .determinate {
  background-color: #9c27b0;
}

.progress-check {
  display: flex;
  min-width: 0.5rem;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

#video-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  /* align-items: center; */
}

#active-video {
  width: 80% !important;
  border-radius: 15px;
}

.vjs-control-bar {
  border-radius: 0 0 15px 15px;
}

.spinner-purple-only {
  border-color: #9c27b0;
}

.breakpoint-wrapper-class {
  transition: height 0.5s linear;
  overflow: hidden;
}

.breakpoint-wrapper-inner {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.breakpoint-wrapper-inner button {
  border-top: 1px solid black;
}

.breakpoint-wrapper-inner>button:first-child {
  border-top: none !important;
}

.breakpoint-past {
  /* border: 2px solid red; */
  font-weight: 700;
  opacity: 0.3;
}

.breakpoint-active {
  /* border: 2px solid black; */
  font-weight: 900;
  font-size: 120%;
}

.breakpoint-future {
  /* border: 2px solid blue; */
}

.breakpoint-btn {
  display: block;
  width: 100%;
  background: none;
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

.breakpoint-btn:focus {
  background: none;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}